.navbar {
    width: 100%;
    height: 5rem;
    background: rgba(103, 0, 222, 0.692);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.menu li{
    list-style: none;
    padding: 0.7rem 1rem;
    border-radius: 15px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.menu li:hover{
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}

.loadingStyle{
    opacity: 0;
    transition: all 0.2s ease-in;
}

.loadedStyle{
    opacity: 1;
    transition: all 0.2s ease-in;
}